[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
boto3-stubs = "*"
coverage = "*"
flake8 = "*"
isort = "*"
mock = "*"
mypy = "*"
pytest = "*"
setuptools = "*"
wheel = "*"
yamllint = "*"

[packages]
boto3 = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
